/* -------------------- ALL PAGES -------------------- */
/* Header */

header {
    display: grid;
    grid-template-columns: auto 44px;
    align-items: center;
    gap: .5rem;
    border-bottom: 1px solid black;
}

header img {
    margin: .5rem;
}

nav {
    background-color: #716461;
}

#ham-button::before {
    content: "\2630";
}

#ham-button.open::before {
    content: "X";
    font-family: sans-serif;
}

#ham-button {
    font-size: 2rem;
    font-weight: bold;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

#ham-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#ham-menu li a {
    display: block;
    padding: .75rem 2vw;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

li.active a {
    background-color: rgb(0, 0, 0, 0.2);
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

/* Footer */

footer {
    border-top: 1px solid black;
    margin-top: 5rem;
    font-family: sans-serif;
}

footer section.address p {
    margin: 0;
}

footer img.logo,
footer section.address,
footer section.social-media {
    margin: 1rem;
}

footer p.copyright {
    margin-top: 5rem;
    text-align: center;
}

/* -------------------- Home Page -------------------- 
Main */
#hero-section {
    text-align: center;
    font-family: sans-serif;
}

#hero-section #hero-image {
    width: 100%;
    object-fit: cover;
}

#hero-section #hero-heading {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-size: xx-large;
}

#hero-section button {
    background-color: black;
    color: white;
    padding: 8px;
    cursor: pointer;
}

#hero-section #hero-description {
    padding: 1rem;
}

#home #benefits,
#home>h2 {
    text-align: center;
}

#home>h2 {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-size: xx-large;
    margin-top: 5rem;
}

#home #benefits div img {
    border-radius: 50%;
}

#home #benefits div h2 {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-size: x-large;
    margin: .5rem 0;
}

#home #benefits div p {
    font-family: sans-serif;
    padding: 1rem;
    margin: .5rem 0;
}

#home #benefits div {
    margin-bottom: 5rem;
}

#home #activity div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem auto;
    max-width: 195px;
}

#home #activity div:nth-child(even) {
    flex-direction: row-reverse;
}

#home #activity div p {
    font-family: sans-serif;
    width: 80px;
    text-align: center;
}



/* -------------------- Scripture Page -------------------- 
Main */

#verse-modal {
    max-width: 440px;
}

#verse-modal h2 {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-size: xx-large;
}

#verse-modal p {
    font-family: sans-serif;
}

#verse-modal button {
    cursor: pointer;
    background-color: #000000;
    color: white;
    font-family: sans-serif;
    margin-right: 1rem;
    padding: 8px;
}

#verse-modal button:hover {
    color: palegoldenrod;
}

#verse-modal button:first-child {
    background-color: transparent;
    border: none;
}

#verse-modal button:first-child:hover {
    background-color: palegoldenrod;
}


#verse-section {
    margin: .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
}

#verse-section>div {
    background-color: palegoldenrod;
    text-align: center;
    padding: 1rem;
    margin: .5rem;
    border: 1px solid black;
}

#verse-section>div>h2 {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-size: xx-large;
    color: #000000;
}

#verse-section>div>p {
    font-family: sans-serif;
}

#verse-section>div>p>span {
    font-weight: 400;
    font-family: "Road Rage", sans-serif;
    font-size: x-large;
}

#verse-section>div>p>span.easy {
    color: darkgreen;
}

#verse-section>div>p>span.medium {
    color: #014aad;
}

#verse-section>div>p>span.hard {
    color: darkred;
}

#verse-section>div>button {
    background-color: black;
    color: white;
    font-family: sans-serif;
    padding: 8px;
    cursor: pointer;
}

/* -------------------- Prophets Page -------------------- 
Main */

/* Filter buttons CSS for both Prophets and Scripture page */
#filter-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    flex-wrap: wrap;
}

#filter-buttons button {
    background-color: black;
    color: white;
    padding: 8px;
    font-family: sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

#filter-buttons button:hover {
    color: palegoldenrod;
}

#show-prophets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
}

#show-prophets div {
    margin: .5rem;
    padding: 1rem;
    text-align: center;
}

#show-prophets div img {
    border-radius: 50%;
}

#show-prophets div h2 {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-size: xx-large;
}

#show-prophets div p {
    font-family: sans-serif;
}




/* -------------------- Contact us Page -------------------- 
Main */

#contact-us h1 {
    text-align: center;
    font-family: sans-serif;
}

#contact-us form input,
#contact-us form textarea {
    width: 100%;
    max-width: 256px;
    padding: 8px;
    display: block;
    margin: 1.5rem auto;
}

#contact-us form textarea {
    height: 10rem;
}

#contact-us form input[type=submit] {
    background-color: black;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 5px;
    max-width: 272px;
}

/* -------------------- Thank you Page -------------------- 
Main */

#thank-you {
    font-family: sans-serif;
    background-color: antiquewhite;
    max-width: 256px;
    padding: 8px;
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    margin: auto;
}

#contact-us p.message {
    font-family: sans-serif;
    text-align: center;

}