@media only screen and (min-width: 640px) {

    #ham-button {
        display: none;
    }

    #ham-menu,
    #ham-menu.open {
        display: flex;
        justify-content: flex-end;
    }

    #ham-menu a:hover {
        background-color: rgb(255, 255, 255, 0.2);
    }

    nav {
        grid-template-rows: 1fr;
    }

    /* Footer */
    footer {
        display: grid;
        grid-template-areas:
            "logo address"
            "logo social"
            "copy copy";
        justify-content: space-between;
    }

    footer>img {
        grid-area: logo;
    }

    footer>section.address {
        grid-area: address;
    }

    footer>section.social-media {
        grid-area: social;
    }

    footer>p {
        grid-area: copy;
    }

    /* -------------------- Home Page -------------------- 
    Main */
    #hero-section #hero-image {
        height: 320px;
    }

    #home #activity {
        display: flex;
    }

    #home #activity div {
        flex-direction: column;
    }

    #home #activity div:nth-child(even) {
        flex-direction: column;
    }
}