@media only screen and (min-width: 640px) {

    /* ------------------------------------------------ Header */


    header {
        justify-content: space-around;
    }

    #ham-button {
        display: none;
    }

    #ham-menu.open {
        position: relative;
    }

    #ham-menu {
        width: 50%;
        justify-content: flex-end;
        display: flex;
        flex-direction: row;
        background-color: inherit;
    }

    #ham-menu a {
        color: black;
        transition: .4s;
    }

    #ham-menu a:hover {
        background-color: rgb(114, 173, 197);
    }


    /* ------------------------------------------------ Main */


    #display-cards.list section {
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    #display-cards.list section p:nth-child(3) {
        display: block;
    }


    /* ------------------------------------------------ Footer */

    footer {
        justify-content: space-around;
    }

    /* Home Page -------------------------------------------------------------- */
    /* ------------------------------------------------ Main */
    /* Hero section ----------------------- */
    #hero-image {
        max-height: 240px;
    }

    #hero-button {
        bottom: 25px;
        right: 25px;
        font-size: larger;

    }

    /* Home section ----------------------- */
    #front {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #forecast-section {
        grid-column: 1/3;
    }

    /* Join Page -------------------------------------------------------------- */
    /* ------------------------------------------------ Main */
    #join {
        display: flex;
        justify-content: space-evenly;
    }


    /* Membership ----------------------- */
}

@media only screen and (min-width: 1080px) {
    #front {
        grid-template-columns: 2fr 1fr 1fr;
    }

    #forecast-section {
        grid-column: inherit;
    }
}