:root {
    --base-color: skyblue;
    --secondary-color: black;
    --tertiary-color: white;
}

/* ------------------------------------------------ Consistent Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--base-color);
    position: relative;
}

#logo-title {
    display: flex;
    align-items: center;
    margin: 1px 1rem;
}

#logo-title img {
    max-width: 60px;
    border-radius: 30px;
}

#logo-title div h1,
#logo-title div p {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

#logo-title div {
    margin: 5px;
}

/* ------------- Consistent Animated Ham Button on click */

#ham-button div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 1rem;
    transition: .4s;
}

#ham-button.open div:nth-child(1) {
    transform: translate(0, 225%) rotate(-45deg);
}

#ham-button.open div:nth-child(2) {
    opacity: 0;
}

#ham-button.open div:nth-child(3) {
    transform: translate(0, -225%) rotate(45deg);
}

#ham-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100%;
    display: none;
    z-index: 2;
}

#ham-menu.open {
    position: absolute;
    top: 100%;
    display: flex;
}

#ham-menu a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
}

#ham-menu a:hover {
    background-color: white;
    color: black;
}

#ham-menu a.active {
    text-decoration: underline;
}

/* Directory Page -------------------------------------------------------------- */
/* ------------------------------------------------ Main */

#display-buttons {
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

#display-buttons button {
    font-size: xx-large;
}

#display-cards section h2 {
    font-family: "Roboto", sans-serif;
}

#display-cards.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

#display-cards.grid section img {
    width: 100%;
    max-width: 150px;
}

#display-cards.grid section {
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#display-cards.grid section p,
#display-cards.grid section h2 {
    margin: 0;
}

#display-cards.list section img {
    display: none;
}

#display-cards.list {
    display: flex;
    flex-direction: column;
}

#display-cards.list section:nth-child(even) {
    background-color: rgb(234, 234, 234);
}

#display-cards.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    padding: 5px;
}

#display-cards.list section h2 {
    font-size: medium;
}

#display-cards.list section p:nth-child(3) {
    display: none;
}

/* ------------------------------------------------ Consistent Footer */

footer {
    background-color: skyblue;
    padding: 1rem 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}

footer p {
    margin: 0 auto;
}

#social-media {
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}

#social-media a img {
    background: white;
    border-radius: 30px;
    border: 1px solid black
}

#social-media a img:hover {
    background-color: lightgreen;
}


#social-media a {
    margin: 1rem;
}

/* Home Page -------------------------------------------------------------- */
/* ------------------------------------------------ Main */

h1 {
    font-family: "Roboto", sans-serif;
    margin: 5px 1rem;
}

/* Hero section ----------------------- */
#hero-section {
    position: relative;
}

#hero-image {
    width: 100%;
    height: 100%;
    transition: .4s;
    max-height: 120px;
    object-fit: cover;
}

#hero-image:hover {
    opacity: 75%;
}

#hero-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: sans-serif;
    padding: .5rem;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
}

#hero-button:hover {
    background-color: lightblue;
}

/* Home section ----------------------- */

#front section {
    margin: .5rem;
    border: 1px solid black;
}

#front section h2 {
    background-color: skyblue;
    margin: 0;
    padding: 5px 1rem;
    font-family: "Roboto", sans-serif;
}

/* Events section ----------------------- */

#events-section div {
    height: 100px;
}

/* Weather section ----------------------- */

#weather-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: .5rem;
}

#weather-info img {
    filter: drop-shadow(0px 0px 5px);
}

#weather-details p {
    text-transform: capitalize;
    margin: 0;
    font-family: sans-serif;
}

#weather-details p:first-child {
    margin: .5rem 0;
}

/* Forecast section ----------------------- */

#forecast-info {
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
}

#forecast-info div {
    text-align: center;
}

#forecast-info div img {
    filter: drop-shadow(0px 0px 5px)
}

/* Member spotlight section ----------------------- */

#spotlights {
    margin: .5rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
    gap: .5rem;
}

#spotlights .member {
    border: 1px solid black;
    border-radius: 5px;
    min-width: 304px;
}

#spotlights .member h2,
#spotlights .member .level {
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

#spotlights .member h2 {
    padding-top: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

#spotlights .member .level {
    padding-bottom: .5rem;
}

#spotlights .member .info {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    padding: .5rem;
    gap: .5rem;
}

#spotlights .member .info .logo {
    max-width: 60px;
}

#spotlights .member .info .contacts p {
    font-size: small;
    font-family: sans-serif;
}