@media only screen and (max-width: 600px) {
    header {
        display: flex;
        position: relative;
    }

    #menu {
        display: none;
    }

    header section img {
        width: 20%;
    }

    header section h1 {
        font-size: 1.5rem;
    }

    #hamburger-button div {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 1rem;
        transition: .4s;
    }

    #hamburger-button.active div:nth-child(1) {
        transform: translate(0, 225%) rotate(-45deg);
    }

    #hamburger-button.active div:nth-child(2) {
        opacity: 0;
    }

    #hamburger-button.active div:nth-child(3) {
        transform: translate(0, -225%) rotate(45deg);
    }

    #menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: -200%;
        transition: .4s;
        opacity: 0%;
    }

    #menu.active {
        top: 100%;
        opacity: 100%;
    }

    #menu a {
        text-align: left;
    }

    main {
        display: flex;
        flex-direction: column;
    }
}